In [3]:
# instalar selenium

# instalar webdriver_manager

from selenium import webdriver
from random import randint
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
import pandas as pd


servico = Service(ChromeDriverManager().install())
navegador = webdriver.Chrome(service=servico)

In [2]:
# importar base de dados

tabela = pd.read_excel('planilha de dados/commodities.xlsx')
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [6]:
# pegar preço cotação de cada produto

link = "https://www.melhorcambio.com/milho-hoje"
navegador.get(link)

cotacao_milho = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')

print(cotacao_milho)

85,24